body{
    background: #8d938f;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.image{
    height: 149px;
    width: 150px;
    background: url(wizrd.jpg) 0px 0px;
    animation: play .7s steps(8) infinite,
               step 7s linear infinite;
    left: 0;
    position: absolute;
}

@keyframes play{
    100% {
        background-position: -1269px;
    }
}

@keyframes step {
    100%{
        left: 100%;
    }
}